body {
    background-color: #BFA588; /* Cor de fundo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container-principal {
    display: flex;
    gap: 50px;
    position: relative;
    align-items: center;
}

.logo {
    background-color: #fdf6ee; /* Fundo do contêiner da logo */
    padding: 65px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2; /* Garante que a logo fique acima do contêiner de login */
    height: 500px;
    left: 0px;
    

}
@keyframes arrasta {
    0% {
        left: 0px;

    }
    
    100% {
        left: 280px;
    }
}
@keyframes voltar {
    0% {
        left: 280px;

    }
    
    100% {
        left: 0px;
    }
}

.logo img {
    width: 250px; /* Ajuste o tamanho da imagem */
    height: auto;
    display: block;
    margin: auto;
}

.tudo {
    width: 100%;
    max-width: 350px;
    padding: 50px 30px 30px;
    background-color: #9e6730c6; /* Cor de fundo da área de login */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #fff;
    position: relative;
    top: -20px; /* Posiciona o contêiner de login levemente para cima */
    z-index: 1; /* Garante que o contêiner de login fique abaixo da logo */
    height: 400px;
}

h1 {
    color: #5c3a20;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.campo {
    margin-bottom: 20px;
}

.junto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.junto h2 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.icone {
    width: 24px;
    height: 24px;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-top: 5px;
}

.botao {
    background-color: #c2874d;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    color: #333;
    text-decoration: none;
}
